<!DOCTYPE html>
<html lang="en" ng-app="procrastNation">
<head>
    <meta charset="UTF-8">
    <title>ProcrastNATION</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="main.css" rel="stylesheet">
</head>
<body ng-controller="procrastNationController as procrastCtrl" ng-cloak>
<h1>Welcome to ProcrastNation!</h1>
<md-content>
    <md-card>
        <md-card-content>
            <h2>Recent Activity</h2>
            <md-list>
                <md-list-item class="md-3-line"
                              ng-repeat="item in procrastCtrl.activities">
                    <div class="md-list-item-text">
                        <h3>{{item.what}}</h3>
                        <h4>{{item.when}}</h4>
                        <p>{{item.notes}}</p>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</md-content>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="node_modules/firebase/firebase.js"></script>
<script src="node_modules/angularfire/dist/angularfire.min.js"></script>
<script src="node_modules/moment/moment.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script src="firebase-credentials.js"></script>
<script src="main.js"></script>
</body>
</html>